.clientsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}


.clientsHeaderContainer {
  display: flex;
  flex: .05;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem 1.5rem .3rem;
}

.header {
  text-align: left;
  padding-left: .5rem;
  height: 2.5rem;
  background: white;
}

.row {
  height: 2rem;
  font-size: .9rem;
}

.row:nth-child(odd) {
  background: rgb(248, 248, 248);
}

.row:nth-child(even) {
  background: white;
}

.data {
  padding-left: .5rem;
}

