.container {
  display: flex;
  flex: 1;
  border-bottom: 1px solid #e5e7eb;
  flex-direction: column;
}

.previewContainer {
  padding: 1.5rem 1.5rem;
  height: 586px;
}

.previewHeading {
  font-weight: 600;
  font-size: 1.1rem;
  color: #454545;
}

.previewHeadingSubtext {
  color: #454545;
  margin-top: 0.5rem;
}

.body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  border-radius: 5px;
}

.previewRowsContainer {
  flex: 1;
  min-width: 250px;
  overflow-x: scroll;
  margin-bottom: 3rem;
}

.previewRowHeader {
  display: flex;
  height: 2rem;
  align-items: center;
  background-color: #f6f7f8;
  padding: 1.2rem 0.5rem;
  font-weight: 600;
  border-bottom: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
}

.previewRow {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid #e5e7eb;
}
