.stepOneContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5e7eb;
  height: 587px;
}

.oneLeftContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 1.5rem;
  border-right: 1px solid #e5e7eb;
}


.subContainer {
  display: flex;
  padding: 2rem 0;
}

.iconContainer {
  padding: 0rem 2rem
}

.headingText {
  font-weight: 400;
  font-size: 1.5rem;
}

.headingDescription {
  margin-top: 1rem;
}

.subHeadingText {
  font-size: 1.1rem;
  font-weight: 600
}

.oneRightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.importContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.importContainer:hover {
  background: #f6f6f6;
}

.importContainerActive {
  background: rgb(233, 233, 233);
}

.selectedFileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  cursor: pointer;
}

.selectedFileTitle {
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 1rem;
}

.dragText {
  font-weight: 500;
  margin: 0;
}

.remove {
  margin-right: 0.5rem;
}

.progressBar {
  position: absolute;
  width: 30%;
  padding: 0 5rem;
  margin-top: 3rem;
}
