.container {
    display: flex;
    flex: 1;
    border-bottom: 1px solid #e5e7eb;
    flex-direction: column;
}

.previewContainer {
  padding: 1.5rem 1.5rem;
}

.previewHeading {
  font-weight: 600;
  font-size: 1.1rem;
  color: #454545
}

.previewHeadingSubtext {
  color: #454545;
  margin-top: .5rem;
}

