.container {
  display: grid;  
  grid-template-areas: 
  'nav nav'
  'side main';
  grid-template-rows: 1fr auto;
  grid-template-columns: 13rem 8fr;
}

.navbar {
  grid-area: nav;
}

.sidebar {
  grid-area: side;
}

.main {
  grid-area: main;
}