.pageContainer {
  height: 100vh;
  width: 100%;
  padding: 7rem 0 0 0;
  background-color: #f3f3f3;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 7rem;
  border-bottom: 1px solid #e5e7eb;
  padding: 0rem 1.5rem;
}

.headingText {
  font-weight: 400;
  font-size: 1.5rem;
}

.headingDescription {
  margin-top: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1.5rem 1.5rem;
}

.nextButton {
  height: 2.5rem;
  width: 7rem;
  border: none;
  border-radius: 5px;
  background: #026bff;
  color: white;
  font-weight: 700;
  margin-left: 1rem;
}

.nextButton:hover:enabled {
  cursor: pointer;
  background: #1b7aff;
}

.nextButton:disabled {
  cursor: default;
  background: #a4cafe;
  color: rgb(218, 218, 218);
}

.backButton {
  height: 2.5rem;
  width: 7rem;
  border: 1.5px solid rgb(173, 173, 173);
  border-radius: 5px;
  color: black;
  font-weight: 700;
}

.backButton:hover {
  cursor: pointer;
}

/* Step One Begins */

.stepOneContainer {
  display: flex;
  flex-direction: row;
  height: 75%;
  border-bottom: 1px solid #e5e7eb;
}

.oneLeftContainer {
  display: flex;
  flex: 1;
  padding: 1rem 1.5rem;
  border-right: 1px solid #e5e7eb;
}

.oneRightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.importContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.importContainer:hover {
  background: #f6f6f6;
}

.importContainerActive {
  background: rgb(233, 233, 233);
}

.selectedFileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  cursor: pointer;
}

.selectedFileTitle {
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 1rem;
}

.dragText {
  font-weight: 500;
  margin: 0;
}

.remove {
  margin-right: 0.5rem;
}

.progressBar {
  position: absolute;
  width: 30%;
  padding: 0 5rem;
  margin-top: 3rem;
}

/* Step Two Begins */

.twoContainer {
  display: flex;
  flex: 1;
}

.twoHeadingContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.twoSectionTitle {
  font-size: 1.3rem;
  font-weight: 500;
}

.twoLeft {
  flex: 1;
  border-right: 1px solid #e5e7eb;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.hasHeader {
  display: flex;
  margin-top: 0.5rem;
}

.hasHeaderInput {
  margin-right: 0.5rem;
}

.mappingsContainer {
  display: flex;
  flex-direction: column;
}

.previewField {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  border: 1px solid #e5e7eb;
  margin-bottom: 0.4rem;
  border-radius: 5px;
}

.importedField {
  padding: 0 1rem;
  flex: 1;
  flex: column;
  font-size: 0.9rem;
}

.importedFieldHeader {
  font-weight: 600;
}

.importedFieldNonHeader {
  color: #6c6c6c;
}

.mappingField {
  flex: 1;
  height: 100%;
}

.twoRight {
  flex: 1;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.boxesContainer {
  max-height: calc(65vh * .8);
  overflow-y: scroll;
  padding-right: 1rem;
}
