.pageContainer {
  height: 100vh;
  width: 100%;
  padding: 7rem 2rem 0 2rem;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.headingContainer {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.nextButton {
  height: 2.5rem;
  width: 7rem;
  border: none;
  border-radius: 5px;
  background: #026bff;
  color: white;
  font-weight: 700;
}

.nextButton:hover:enabled {
  cursor: pointer;
  background: #1b7aff;
}

.nextButton:disabled {
  cursor: default;
  background: rgb(172, 172, 172);
  color: rgb(131, 131, 131);
}

.backButton {
  height: 2.5rem;
  width: 7rem;
  border: 1.5px solid rgb(173, 173, 173);
  border-radius: 5px;
  color: black;
  font-weight: 700;
}

.importButton {
  height: 1.5rem;
  width: 8rem;
  border: none;
  border-radius: 5px;
  background: #026bff;
  color: white;
  font-weight: 700;
}

.importButton:hover, 
.backButton:hover{
  cursor: pointer;
}

.importContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed lightgray;
  border-radius: 10px;
  flex: 0.2;
  cursor: pointer;
}

.importContainer:hover {
  background: #f6f6f6;
}

.importContainerActive {
  background: rgb(233, 233, 233);
}

.selectedFileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  cursor: pointer;
}

.selectedFileTitle {
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 1rem;
}

.oneDescriptionContainer {
  display: flex;
  flex: 0.6;
  padding: 2rem 1rem;
}

.dragText {
  font-weight: 500;
  margin: 0;
}

.remove {
  margin-right: .5rem;
}

.progressBar {
  position: absolute;
  width: 50%;
  padding: 0 5rem;
  margin-top: 3rem;
}

.twoContainer {
  border: 1px solid black;
  display: flex;
  flex: 1;
}

.columnsContainer {
  flex: .5;
  border: 1px solid red;
}

.columnsContainerTitle {
  font-size: 1.4rem;
}

.mappingsContainer {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.preview {
  border: 1px solid red;
}