.pageContainer {
  display: flex;
  background: #f1f1f1;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.tableContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 4rem;
}


