.pageContainer {
  display: flex;
  background: #f1f1f1;
  width: 100%;
  min-height: 200vh;
}

.clientsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10rem;
}

.clientsHeaderContainer {
  flex: .1;
}

.row:nth-child(even) {
  background: white;
}