.pageContainer {
  display: flex;
  background: #f1f1f1;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.clientsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 4rem;
}

.clientsHeaderContainer {
  display: flex;
  flex: .05;
  align-items: center;
  justify-content: space-between;
}

.header {
  text-align: left;
  padding-left: .5rem;
  height: 2.5rem;
  background: white;
}

.row {
  height: 2rem;
  font-size: .9rem;
}

.row:nth-child(odd) {
  background: rgb(248, 248, 248);
}

.row:nth-child(even) {
  background: white;
}

.data {
  padding-left: .5rem;
}

