.pageContainer {
  display: flex;
  height: 100vh;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  width: 90%;
  min-height: 55%;
  border: 2px solid black;
  margin: 0 auto;
  border-radius: 10px;
}

.title {
  font-size: 1.5rem;
  margin: 0;
}

.errorMessage {
  margin-top: 5px;
  margin-bottom: 0;
  color: red;
}

.inputContainer {
  margin: 0 auto;
  padding: 1rem 0;
}

.buttonContainer {
  margin: 1rem auto;
}

.switch {
  text-align: center;
}

.link {
  color: #026bffc9;
  font-weight: 500;
}

.link:hover {
  color: #026bff;
  cursor: pointer;
}

.titleSub {
}

.resend {
  color: #025bffc9;
  font-weight: 500;
  cursor: pointer;
}

.resend:hover {
  color: #003392c9;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 50%;
  }
}
